
<div class= "wrapper">
<%= render 'form', user: @user %>

<<<<<<< HEAD
<%= link_to '×', users_path, class: 'back' %>
=======
<%= link_to '×', login_path, class: 'back' %>
</div>
>>>>>>> style_changes
