/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
*= require jquery-ui
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f57c75;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #f57c75;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #f57c75;
}
:-moz-placeholder { /* Firefox 18- */
  color: #f57c75;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  display: table;
}

*:focus {
    outline: none;
}

a:hover {
  background: none;
}

.wrapper {
  margin-top: 150px;
}
nav {
  padding-bottom: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    float: right;
    margin: 10px;
}

nav ul#logout {
  float: left;
  margin: 10px;
}

nav li {
  display: inline;
  color: #f57c75;

}

nav a {
  color: #f57c75;
  font-size: 1.2em;
  text-decoration: none;
}



nav a:visited {
  color: #f57c75;
}

nav a:hover {
  color: #FFCC7a;
}

.iou {
  color: white;
}

a {
  text-decoration: none;
}

.button a {
  color: white !important;
  font-size: 1.2em;
  text-decoration: none;
}

.button a:visited {
  color: white !important;
  font-size: 1.2em;
  text-decoration: none;
}

.button {
  background-color: #f0382e;
  border-style: none;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  color: white;
  font-size: 1.2em;
}

.button:hover {
   background-color: #FFCC7a;
}

#logout_btn a {
  border: solid 2px #f57c75;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
}

.main {
  margin: auto;

}

h1 {
  color: #f57c75;
  display: block;
  text-align: center;
}

.form {
  margin: auto;
  text-align: center;
  color: #f57c75;
}

.back {
  padding-top: 5px;
	display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: #FFCC7a;
}

.back:hover {
  background: none;
  color: #f57c75;
}

.back:visited {
  color: #92D4E7;
}

.back:visited:hover {
  color: #f57c75;
}

/*FOR BOXES*/
