/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
*= require jquery-ui
*/

a {
   font-size: 1.5em;
   text-decoration: none;
   color: #FFCC7a;
 }

a:hover {
  background: none;
  color: #f57c75;
}

a:visited {
  color: #92D4E7;
}

a:visited:hover {
  color: #f57c75;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.button {
  background-color: #f57c75;
  border-style: none;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  color: white;
  font-size: 1.2em;
}

.button:hover {
   background-color: #FFCC7a;
}

.button a {
  color: white;
  font-size: 1.2em;
}

*:focus {
    outline: none;
}

.wrapper {
  margin-top: 150px;
}
nav {
  padding-bottom: 30px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: block;
}

nav li {
  display: inline;
  color: #f57c75;
}

.main {
  margin: auto;

}

h1 {
  color: #f57c75;
  display: block;
  text-align: center;
}

.form {
  margin: auto;
  text-align: center;
  color: #f57c75;
}
