// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: sans-serif;
}

div {
	display: block;
	margin: auto;

}
.field, .actions, .back {
	text-align: center;
}


h3 {
	color: #f57c75;
}

img {
	display: block;
	width: 150px;
	margin: auto;
	padding-bottom: 20px;
}

.button-main {
	background-color: #f57c75;
	padding: 3px;
	border-radius: 50px;
	color: white;
	width: 200px;
	overflow: hidden;
}

.back {
  padding-top: 5px;
	display: block;
}

label {
  color: #f57c75;
  size: 1em;
}

p {
	color: #3d2321;
	margin: 5px;
	margin-bottom: 10px;
	padding: 0px;
}

p > strong {
	color: #f57c75;
}

span {
	display: block;
	font-size: 1.2em;
}

#white {
	color: white;
}
